/* holtwood-one-sc-regular - latin */
@font-face {
  font-family: 'Holtwood One SC';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/holthood/holtwood-one-sc-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./fonts/holthood/holtwood-one-sc-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/holthood/holtwood-one-sc-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/holthood/holtwood-one-sc-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./fonts/holthood/holtwood-one-sc-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/holthood/holtwood-one-sc-v16-latin-regular.svg#HoltwoodOneSC') format('svg'); /* Legacy iOS */
}
