@use '@/styles' as s;

.container {
  $round: s.f-unit-light(8px);

  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(35px);
  padding: 0 2rem;

  //border: thin solid red;

  &:after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: .8;
    //background-image: linear-gradient(s.$clrs-gray-light, rgba(237, 237, 237, 0));
    background: white;
  }

  & :global{
    .wrapper {
      position: relative;
      width: 100%;
      max-width: 1300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      transition: all 230ms ease-in-out;
      padding: .5rem 0;

      //border: thin solid rebeccapurple;

      .logo {
        position: absolute;
        left: 0;
        display: grid;
        place-items: center;
        max-width: 100px;

        a{
          & > :first-child{
            display: block !important;
          }
        }
      }

      .icons {
        position: relative;
        display: flex;
        align-items: center;
        gap: s.f-unit(.8rem);
        margin-left: auto;
      }
    }


  }




}
