@use '@/styles' as s;

.container {
  position: relative;
  z-index: 1;
  $round: 18px;

  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(35px);

  &:after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: .8;
    //background-image: linear-gradient(s.$clrs-gray-light, rgba(237, 237, 237, 0));
    background: s.$clrs-gray-light;
  }

  //border: thin solid red;

  .wrapper {
    position: relative;
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    padding: 1rem 0;

    transition: all 230ms ease-in-out;

    //border: thin solid rebeccapurple;
  }



  .logo {
    position: absolute;
    left: 0%;
    //transform: translateX(-50%);
    display: grid;
    place-items: center;
    width: 120px;
    height: 250%;
  }

  .others {
    $gap: .9rem;

    position: relative;
    display: flex;
    align-items: center;
    gap: s.f-unit($gap);
    width: max-content;
    margin-left: auto;

    //border: thin solid crimson;

    & :global {
      .account {
        display: flex;

        & > * {
          @include s.padding(hor, .7rem);
          @include s.font-size-text(.7rem);
        }

        & > :first-child {
          position: relative;
          border-right: 1px solid lightgray;
        }

      }

      .icons {
        display: flex;
        gap: s.f-unit($gap);

        button{ // common style
          cursor: pointer;
          border: thin solid transparent;

          &:hover{
            border: thin solid s.$clrs-accent-light;
          }
        }

        .search-icon {
          position: relative;
          border-radius: $round;
          background: white;

          //border: thin solid teal;
          display: grid;
          place-items: center;
          padding: s.f-unit(.5rem);
          height: 45px;
          width: 45px;
        }

        .cart {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: s.f-unit(.8rem);
          background: white;
          border-radius: $round;


          min-width: 45px;
          height: auto;
          @include s.padding(hor, 1rem);

          .cart-icon {
            position: relative;
            flex: 1;
          }

          .cart-count {
            //@include s.font-size-text(1rem)
          }
        }

        .menu {
          position: relative;
          //border: none;
          cursor: pointer;
          border-radius: $round;
          background: white;
          padding: s.f-unit(.5rem);
          height: 45px;
          width: 45px;
          display: grid;
          place-items: center;
        }
      }
    }
  }


}
