@use '@/styles' as s;


.container {
  //max-width: 100vmin;
  //border-radius: 30px;
  position: relative;
  z-index: 1;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: s.f-unit(2rem);

  //border: thin solid red;

  @include s.padding(top, 10rem);
  @include s.padding(bottom, 10rem);

  @include s.media-breakpoint-up(md) {
    @include s.padding(top, 15rem);

    @include s.padding(hor, 2rem);

  }


  & :local {

    .box_bg{
      position: absolute;
      left: 0;
      z-index: -1;
      width: 100%;

      //border: 1px solid #000;
    }

    .text_container {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 2rem;

      //border: 1px solid #000;

      .profile {
        position: relative;
        margin-right: 1.5rem;
        @include s.margin(bottom, 2rem);


        .avatar_bg {
          position: absolute;
          top: 0;
          opacity: .6;
          z-index: -1;
          transform: scale(1.1);
        }
      }

      @include s.media-breakpoint-up(md) {
        position: absolute;
        left: 50%;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: center;

        transform: translateX(-50%);
        //@include s.padding(2rem, 4rem);
        //@include s.margin(2rem);
      }
    }

    .quote_icon {
      position: absolute;
      //display: none;
      //max-width: 30px;
      top: -20%;
      right: 0;
      opacity: .6;

      transform: rotateY(180deg);
    }

    .text {
      position: relative;

      @include s.font-size-text(1.1rem);
    }

    .btn {
      //border: thin solid s.$clrs-orange;
      margin-top: 5rem;
      max-width: s.f-unit-light(8rem);

      @include s.media-breakpoint-up(md) {
        max-width: s.f-unit-light(6rem);

        margin-top: 0;
      }
    }

    .btn_lft {
    }

    .btn_rht {
    }

    @include s.media-breakpoint-up(md) {
      gap: s.f-unit(5rem);


      .btn_lft {
      }

      .text {
        max-width: 40ch;

        &:before {
          content: '';
          position: absolute;
          left: -2rem;
          height: 110%;
          width: 1px;
          background-color: s.$clrs-orange-light;
        }
      }


    }


    .name {
      color: gray;
    }

  }

}
