@use "@/styles" as s;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include s.padding(top, 5rem);

 border: thick solid blue;


}


