@use '@/styles' as s;


.container {
  width: 100%;
  @include s.margin(bottom, 15rem);
  background-color: white;


  //background-color: #ededed;

  & :global {
    header {
      max-width: 1300px;
      margin: 0 auto;
      .title {
        @include s.font-size-text(4rem);

        span {
          display: block;
          color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
        }
      }
    }

    .marquee_wrap{


    }
  }
}
