@use '@/styles' as s;


.container {
  position: relative;
  width: 100%;
  background-color: white;

  @include s.padding(ver, 10rem);
  @include s.padding(hor, 2rem);

  .flower_glass {
    position: absolute;
    top: 20%;
    right: 10%;
  }

  //background-color: #ededed;
  //border: 1px solid yellow;;

  & :local {

    .wrapper {
      max-width: 1300px;
      margin: 0 auto;
    }

    header {
      max-width: 1300px;
      margin: 0 auto;
      overflow: hidden;
    }

  }
}
