@use '@/styles' as s;


.container {
  width: 100%;
  background-color: white;

  @include s.padding(ver, 10rem);
  @include s.padding(hor, 2rem);


  //background-color: #ededed;

  & :local {

    .wrapper {
      max-width: 1300px;
      margin: 0 auto;

    }

    header {
      max-width: 1300px;
      margin: 0 auto;

      h1 {
        font-weight: 900;
        @include s.font-size-text(3.2rem);
        line-height: 140%;
        color: s.$clrs-accent;
        -webkit-text-stroke-width: s.f-unit-light(2px);
        -webkit-text-stroke-color: s.$clrs-accent;
        margin-top: 0;

        span {
          display: block;
          color: transparent;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: s.$clrs-accent;
        }
      }
    }


    .marquee_wrap {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;
      margin: 0 auto;

      //border: thin solid red;

      @include s.media-breakpoint-up(md) {
        align-items: center;
      }
    }

    .btn {
      border: thin solid s.$clrs-orange;
      margin-top: 5rem;

      @include s.media-breakpoint-up(md) {
        margin-top: 0;
      }
    }
  }
}
