@use '@styles' as s;

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(35px);
  padding: 0 1.5rem;

  @include s.media-breakpoint-up(md){
    padding: 0 5rem;
  }

  //border: thin solid red;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: .8;
    //background-image: linear-gradient(s.$clrs-gray-light, rgba(237, 237, 237, 0));
    background: white;
  }

  & :local {

    .wrapper {
      position: relative;
      width: 100%;
      //max-width: 1300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      transition: all 230ms ease-in-out;
      //padding: .5rem 0;

    }

    .icons {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0;
      margin-left: auto;

      @include s.media-breakpoint-up(md){
        gap: s.f-unit(.8rem);
      }
    }


    .logo {
      position: absolute;
      left: 0;
      display: grid;
      place-items: center;
      max-width: 100px;

      a {
        & > :first-child {
          display: block !important;
        }
      }
    }

    .search{

    }

    .login{
      display: none;

      @include s.media-breakpoint-up(md){
        display: flex;
      }
    }



  }


}
