@use '@/styles' as s;
@import "keyframes.css";


.container {
  width: 100%;
  display: flex;
  flex-flow: column;
  max-width: 1300px;
  @include s.margin(top, 3rem);
  @include s.margin(bottom, 10rem);

  @include s.media-breakpoint-up(md) {

  }

  padding: 1rem;

  //border: thin solid red;

  & :local {

    .house {
      margin: 0 auto;
      max-width: 70%;
      @include s.margin(bottom, 3rem);

    }


    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      button {
        font-size: s.f-unit(1em);
      }
    }

    .whiskeyWrapper {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(2, minmax(s.f-unit(13rem), 1fr) );
      gap: s.f-unit(2.3rem);
      row-gap: s.f-unit(2.9rem);
      @include s.margin(top, 4rem);


      //overflow: hidden;

      @include s.media-breakpoint-up(md) {
        grid-template-columns: repeat(4, minmax(s.f-unit(13rem), 1fr) );

      }

    }
  }
}

.title {
  line-height: 120%;
  font-weight: normal;
  margin-top: 0;
  color: gray;
  font-family: s.$fonts-ruthie;


  @include s.font-size-text(3.2rem);

  span {

    font-weight: 100;


    font-family: s.$fonts-ultra;

    display: block;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: s.$clrs-orange;
    letter-spacing: .1vmax;
    @include s.font-size-text(3.2rem);
  }
}
