@use "@/styles" as s;

.root {
  position: relative;
  width: 100%;
  //max-width: 2460px;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;


  .main {
    width: 100%;
    min-height: 100vh - 10vh;

    flex: 1;

    & :global{
      .content_wrapper{
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: 2rem;

        header {
          display: flex;

          .title{
            color: s.$clrs-accent-light;
          }

          .filter {
            margin-left: auto;
            display: flex;
            gap: s.f-unit(2rem);
            align-items: center;
          }
        }
      }

      .main_content_wrapper{
        width: 100%;
      }
    }

  }


  main.with_sidenav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: s.f-unit(3rem);
    display: flex;
    @include s.padding(top, 12rem);

    //border: thick solid red;

    & :global {

      .main_content_wrapper{

        //border: thin solid thistle;
        //flex: 4;
      }

    }
  }
}


