@use '@/styles' as s;

.container {
  position: relative;
  width: 100%;
  //border: 2px solid red;
  @include s.padding(bottom, 12rem);


  & :local {

    .left{
      position: absolute;
    }

    .coll_bg{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;

      //border: 5px solid yellow;

      .right{
        position: absolute;
        right: 0;
        bottom: -7%;
      }
    }



    .wrapper {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      gap: s.f-unit(3rem);
      display: flex;

      padding-top: 15vmax;


      @include s.media-breakpoint-up(md) {
        padding-top: 19vmin;
        //padding-bottom: 5vmax;
        overflow: hidden;
      }

    }


    .scroll_trigger{
      position: absolute;
      top: 2rem;
    }

    aside {
      //max-width: 300px;
    }

    .coll_main {
      position: relative;
      width: 100%;
      display: flex;
      flex-flow: column;

      //border: 1px solid #000;
    }
  }

}

