@use "@styles" as s;

.container {
  position: absolute;
  bottom: 7%;
  right: 5%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  pointer-events: auto;

  & :global {
    .bottle_wrapper {
      max-width: s.f-unit(1.5rem);
      transform: rotate(180deg);
    }
  }
}
