@use "@styles" as s;

.container {
  position: absolute;
  bottom: 2vmax;
  right: 3vmax;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  pointer-events: auto;

  & :global {
    .bottle_wrapper {
      max-width: s.f-unit(3vmax);
      transform: rotate(180deg);

      @include s.media-breakpoint-up(md) {
        max-width: s.f-unit(1vmax);

      }
    }
  }
}
