@use '@/styles' as s;

.container {
  width: 100%;
  display: flex;


  & :global {

    .title {
      color: s.$clrs-accent-light;
    }

    .filter {
      position: relative;
      margin-left: auto;
      display: flex;
      gap: s.f-unit(1rem);
      align-items: center;

      .popup {
        position: absolute;
        top: 80%;
        z-index: 11;
        max-width: 14rem;
        width: 100%;

        //border: thin solid red;
      }

      .price_popup {
        display: flex;
        flex-flow: column;
        padding: 1.5rem;
        border-radius: 20px;
        width: 100%;
        background-color: white;


        & > :first-child {
          margin: 0;
          font-weight: 900;
        }

        & > :last-child {
          margin-top: 1.2rem;
        }

        .hor {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }

        .meta {
          display: flex;
          flex-flow: column;
          margin-bottom: 1rem;

          & > :first-child {
            margin-bottom: 0;
          }

          small {
            color: silver;
          }
        }


      }
    }
  }
}
