@use '@/styles' as s;

.container{
  width: 100%;

   @include s.margin(top, 12rem);
  // @include s.padding(bottom, 8rem);


  & :global{

    .marquee_wrapper{
      //display: flex;
      //flex-wrap: wrap;
      //gap: 2rem;

      //--gradient-color: rgb(164, 35, 35), rgba(255, 255, 255, 0);

      .illustration{
        max-width: 24rem;
        margin: 0 -1rem;
      }

    }
  }
}
