@use '@/styles' as s;


.container {
  width: 100%;

  @include s.padding(top, 6rem);
  @include s.padding(bottom, 9rem);

  & :global {

    .featured_grid_wrapper {
      max-width: 1300px;
      margin: 0 auto;

    }

    .title {
      font-weight: 900;
      @include s.font-size-text(3.2rem);
      line-height: 140%;
      color: s.$clrs-accent;
      -webkit-text-stroke-width: s.f-unit-light(2px);
      -webkit-text-stroke-color: s.$clrs-accent;


      span {
        display: block;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: s.$clrs-accent;
      }
    }

    .grid_view {
      width: 100%;

      display: grid;
      grid-gap: s.f-unit(1rem);
      grid-template-columns: repeat(5, 1fr);

      grid-auto-flow: dense;
      //place-items: center;
      padding: s.f-unit(15px);

      & > * {
        position: relative;
        border-radius: s.f-unit(21px);
        overflow: hidden;
        display: grid;
        place-items: center;
        font-weight: 900;

        & > :first-child {
          display: block !important;
          width: 100% !important;
          height: 100% !important;
        }
      }

      :nth-child(1) {
        grid-column: span 2;
        grid-row: span 2;
      }

      :nth-child(6) {
        grid-row: span 2;
      }

    }

  }
}
