@use '@/styles' as s;

.container {
  width: 100%;
  //background-color: s.$clrs-gray-light;

  @include s.margin(top, 10rem);
  @include s.padding(bottom, 8rem);

  & :global {

    .wrapper {
      max-width: 1300px;
      margin: 0 auto;

      header {
        h1 {
          @include s.font-size-text(3rem);
          font-family: s.$fonts-auger-500;

          span {
            display: block;
            font-family: s.$fonts-auger-900;
            color: transparent;
            -webkit-text-stroke: 1px s.$clrs-accent-light;
          }

        }
      }

      .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: s.f-unit(2rem);


        @include s.media-breakpoint-up(s.$br-lg) {
          justify-content: space-evenly;
        }

        .form_modal {
          display: flex;
          flex-flow: column;
          gap: s.f-unit(1.3rem);
          justify-content: flex-start;
          background-color: white;
          width: 35%;
          border-radius: 30px;
          border: thin solid gray;

          @include s.padding(2rem);

          header {
            color: gray;
            font-family: s.$fonts-auger-500;
            word-spacing: -.1vmax;
          }
        }

        .contact_detail {
          background-color: white;
          width: 40%;
          align-self: start;

          border-radius: 30px;
          @include s.padding(2rem);

          p {
            color: gray;
          }

          span {
            color: black;
            font-family: s.$fonts-auger-700;
          }

          h5{
            color: lighten(black, 30);
          }
        }
      }


    }
  }
}
