.container{

  span{
    &:not(:first-child){
      margin-left: .4rem;
    }

    &:after{
      content: '';
      display: inline-block;
      background-image: url("./rev.svg");
      background-size: contain;
      height: 24px;
      width: 24px;

    }
  }
}
