@use "@/styles" as s;


.container {

  height: 100%;
  display: flex;
  flex-flow: column;
  gap: s.f-unit(.6rem);

  //border: thin dashed red;

  width: 350px;
  flex: 1 350px;


  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :global {

    .item {
      position: relative;
      background-color: s.$clrs-gray-light;
      border-radius: 10px;
      width: 100%;
      max-width: 100%;


      @include s.padding(.5rem);
      @include s.padding(hor, 1rem);

      .col_name {
        white-space: nowrap;
        font-size: .91rem;
        font-weight: 900;
      }

      .collection_img {
        position: absolute;
        inset: 0;
      }
    }
  }
}
