@use '@/styles' as s;


.container {
  position: relative;
  background-color: white;
  z-index: 1;

  & :local {

    .cart_bg {
      position: absolute;
      right: 0;
      top: 10%;

      .cart_bg_img {
        position: relative;
        //border: 1px solid #000;
        z-index: -1;

        img {
          object-fit: cover;
        }
      }
    }

    .wrapper {
      max-width: 1500px;
      margin: 0 auto;
      display: flex;
      flex-flow: column;
      gap: 0;

      //border: 1px solid yellow;

      @include s.padding(2rem);
      padding-top: 10vmax;

      @include s.media-breakpoint-up(md) {
        @include s.padding(top, 10rem);
      }


      @include s.media-breakpoint-up(lg) {
        flex-flow: row;
        gap: s.f-unit(10rem);
        @include s.padding(hor, 5rem);
      }

      @include s.media-breakpoint-up(xl) {
        gap: s.f-unit(5rem);
      }

      @include s.media-breakpoint-up(1400px) {
        gap: s.f-unit(5rem);

        @include s.padding(hor, 0rem);

      }


    }

  }

}
