@use '@/styles' as s;

.container {
  width: 100%;

  // @include s.margin(top, 10rem);
  @include s.padding(top, 10rem);

  background-color: white;


  & :global {

    .wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 1000px;
      //border: thin solid red;

      header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 700;
          font-size: s.f-unit-light(3rem);

          span {
            color: transparent;
            -webkit-text-stroke: 1px black;
          }
        }

      }

      table.cart_product_list {
        width: 90%;
        margin: 3rem auto 0;

        thead {
          th {
            text-align: start;
          }

          th:nth-child(3n) {
            text-align: center;
          }

          th:last-child {
            text-align: right;
          }
        }

        tbody {
          p {
            margin: 0;
          }

          td {
            padding-top: 2.5rem;
          }

          td.name {
            p {
              max-width: 26ch;
            }
          }

          td.total {
            text-align: right;
          }

          td.image {
            width: 100px;
          }
        }

        .product_list_item {
          width: 100%;
        }
      }
    }
  }
}
