@use '@/styles' as s;

.container {
  width: 100%;
  background-color: white;

  @include s.padding(top, 9rem);
  @include s.padding(bottom, 8rem);

  & :global {

    .wrapper {
      max-width: 1300px;
      margin: 0 auto;
      padding: 1rem;

      display: flex;

      flex-flow: wrap;
      gap: s.f-unit(3rem);

      .our_blogs {
        flex: 1;
        min-width: max-content;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 1rem;
        margin: auto 0;

        //border: 1px solid #000;

        h1 {
          margin-bottom: 0;
          font-family: s.$fonts-ultra;
          font-weight: 100;
          @include s.font-size-title(2rem);
          margin-top: 0;
        }

        p{
          margin-top: 0;
        }

      }

      .blog_card {
        flex: 1;


        a {
          height: 100%;
          display: flex;
          flex-flow: column;
          justify-content: space-evenly;
        }

        h4 {
          white-space: nowrap;
          margin-bottom: 0;
          max-width: 20ch;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .cover {
          position: relative;
          max-width: 300px;
          border-radius: 22px;
          overflow: hidden;
          height: 14vmax;

          img{
            object-fit: cover !important;
          }

          & > :first-child{
            display: block !important;
            height: 100% !important;
            width: 100% !important;
          }
        }

        .date {
          display: block;
          color: gray;
          font-size: .7rem;
          margin-top: 0;
          //max-width: 20ch;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .our_blogs, .blog_card {
        //border: thick solid yellow;
        flex: 1;
        width: 50%;
      }

      @include s.media-breakpoint-up(md) {
        flex-wrap: nowrap;

        .our_blogs {
          width: 25%;
        }

        .blog_card {
          width: 24%;
        }
      }
    }
  }
}
