@use '@styles' as s;


.container {
  position: relative;
  padding: .6rem 1rem;
  backdrop-filter: blur(20px);

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: .1;
    //background-image: linear-gradient(s.$clrs-gray-light, rgba(237, 237, 237, 0));
    background-color: rgba(246, 152, 87, .7);
  }

  & :local {

    .wrapper {
      display: flex;
      justify-content: center;
      gap: 2rem;
      //border: thin solid red;
      max-width: 1500px;
      margin: 0 auto;
    }

    .linkText {
      margin: 0;
      font-size: .91rem;
      transition: all cubic-bezier(0.6, 0.01, 0, 0.9) 430ms;
      overflow: hidden;
      max-width: 6ch;
      white-space: nowrap;
      text-overflow: ellipsis;

      @include s.media-breakpoint-up(md) {
        max-width: min-content;
        overflow: visible;
      }

      &:hover {
        color: s.$clrs-orange;
        filter: drop-shadow(0, 2px, 5px, 5px, s.$clrs-orange);
        text-shadow: 2px 2px 18px s.$clrs-orange;
      }
    }
  }
}
