$gray-light: #ededed;
$accent: #125e5c;
$accent-light: #125e5c;
$main-bg: #F5F7FB;
$contact-bg: #ECF0F3;
$orange: #fd7f28;
$orange-light: #f69857;
$brownie: #9D6F4D;

:export{
    grayLight: $gray-light;
    accent: $accent;
    accentLight: $accent-light;
    mainBg: $main-bg;
    contactBg: $contact-bg;
    orange: $orange;
    orangeLight: $orange-light;
    brownie: $brownie;
}
