@use "@/styles" as s;


.container {
  width: 100%;

  @include s.media-breakpoint-up(md) {
    //margin: 13vmax auto 0;
  }

  & :local {

    .inline_nav_bar {
      position: absolute;
      top: 0;
      width: 100%;
      //border: 2px solid red;
      z-index: 20;

      & > :first-child {
        backdrop-filter: blur(0);

        &:after {
          background-color: transparent;
          background-image: linear-gradient(rgba(31, 31, 31, 0.73), rgba(237, 237, 237, 0));
        }
      }

      & :global {


      }
    }

    .gallery {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;

      //border: thick solid thistle;

      @include s.media-breakpoint-up(md) {
        img {
          //border-radius: 75px;
        }
      }

    }

    .img_wrapper {
      position: relative;
      height: 100%;
      display: block;
    }

    .slow_scale {
      transition: transform linear 30s;
      transform: scale(2);
    }

    .slider {
      position: absolute;
      inset: 0;
      height: 100%;
      overflow: hidden;
      z-index: 1;

      //border: 1px solid #000;
    }

  }
}

.controller {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 3rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 4rem;
  z-index: 100;

  @include s.media-breakpoint-up(md) {
    //left: 2rem;
  }

  & > :last-child {
    margin-left: auto;
  }

  & :local {

    .text {
      display: flex;
      flex-flow: column;
      align-items: flex-start;

      p {
        margin: 0;
      }

      big {
        max-width: 40ch;

      }

      h1 {
        font-weight: bolder;
        margin: 0;
        color: s.$clrs-orange;
        @include s.font-size-title(4rem);
      }

      button {
        //font-size: 2rem;
        white-space: nowrap;
        margin-top: 2rem;

      }
    }

    .shopNow {
      margin: 0;
      display: none;

      @include s.media-breakpoint-up(md) {
        display: block;
      }

    }

    .next, .prev {
      background: none;
      outline: none;
      border: 2px solid white;

      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
    }

  }
}
