@use "@/styles" as s;


.container {
  width: 100%;
  position: relative;
  z-index: 1;

  @include s.media-breakpoint-up(md) {
    //margin: 9vmax auto 0;
    margin: 0rem auto 0;

    //border: 6px solid red;
  }

  & :local {

    .gallery {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 60rem;

      @include s.media-breakpoint-up(md) {
        height: 100vh;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 10%;
        width: 100%;
        //background-color: #f6f6f6;
        background-image: linear-gradient(to top, rgb(31, 31, 31) 0%, rgba(255, 255, 255, 0) );

        z-index: 1;
      }

    }

    .img_wrapper {
      position: relative;
      height: 100%;
      display: block;
    }

    .slow_scale {
      transition: transform linear 30s;
      transform: scale(2);
    }

    .slider {
      position: absolute;
      inset: 0;
      height: 100%;
      overflow: hidden;
      z-index: 1;

      //border: 1px solid #000;
    }

  }
}

.controller {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  gap: s.f-unit(4rem);
  z-index: 100;
  padding: 0 .7rem;

  //border: 1px solid red;

  @include s.media-breakpoint-up(md) {
    padding: 0 1.5rem;
  }

  & :local {

    .text {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      margin-right: auto;
      @include s.margin(left, 2rem);

      .caption {
        font-family: s.$fonts-ruthie;
        @include s.font-size-text(3rem);
      }

      p {
        margin: 0;
      }

      big {
        width: 100%;

        @include s.media-breakpoint-up(md) {
          max-width: 40ch;
        }
      }

      h1 {
        color: #f66628;
        font-family: s.$fonts-ultra;
        @include s.font-size-title(5rem);
        letter-spacing: .1vmax;
        //max-width: 600px;
        font-weight: normal;
        line-height: 110%;
        margin: 0 0 2rem;

        span {
          display: block;
        }
      }

      button {
        //font-size: 2rem;
        white-space: nowrap;
        margin-top: 2rem;
        background-color: #f66628;

        font-weight: bolder;
        //font-size: 2rem;

      }
    }


    .text[data-idx="0"] {
      //margin-left: auto;
      //color: black;
      //margin-right: 4vmax;

      h1 {
        color: white;

        span {
          color: #f66628;
        }
      }
    }

    .text[data-idx="1"] {
      margin-right: auto;
      //color: black;

      p {
        //color: white;
      }

      h1 {
        color: white;

        span {
          //color: #f66628;
        }
      }
    }


    .shopNow {
      margin: 0;
      display: none;

      @include s.media-breakpoint-up(md) {
        display: block;
      }

    }

    .next, .prev {
      border: 2px solid rgba(253, 127, 40, 0.66);
      color: s.$clrs-orange;

      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
    }

  }
}
