@use '@/styles' as s;

.container{
  width: 100%;

  display: flex;
  flex-flow: column;
  gap: 1.3rem;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :global{


    .methods {
      width: 100%;
      display: flex;
      align-items: center;
      gap: .5rem;
      user-select: none;
      cursor: pointer;

      .protect {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: .7rem;
        background-color: rgba(252, 217, 194, 0.18);
        border-radius: 1rem;
        padding: .7rem .9rem;


        .shipment_img {
          max-width: 50px;
        }

        .ver {
          display: flex;
          flex-flow: column;
          //gap: .1rem;
          //margin-top: .2rem;

          small{
            white-space: nowrap;
          }

          .detail {
            text-decoration: underline;
          }

          & * {
            margin: 0;
          }
        }
      }
    }

  }
}
