@use '@styles' as s;

.container {
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 20;
  pointer-events: auto;
  display: flex;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :global {

    .blur{
      position: absolute;
      inset: 0;
      backdrop-filter: blur(5.5px);
      z-index: -1;
    }

    .signup_wrapper {
      position: relative;
      display: flex;
      width: 100%;
      margin: auto;
      max-width: 53rem;
      max-height: 40vmax;
      background-color: white;
      overflow: hidden;
      border-radius: 1.3rem;

      .close_cross{
        position: absolute;
        z-index: 2;
        right: 5%;
        top: 5%;
        max-width: 1.2rem;
        background: none;
        padding: 0;
        border: none;
        cursor: pointer;
      }

      .art {
        position: relative;
        width: 51%;
        display: grid;

        .img{
          grid-column: 1 / 1;
          grid-row: 1 / 1;
          max-width: 100%;
          width: 100%;
          height: 100%;
          display: grid;
          place-items: center;

          & * {
            height: 100% !important;
          }
          & > :first-child{
            height: 100%;
            display: block !important;
          }
        }

        .signin_bg{
          grid-column: 1 / 1;
          grid-row: 1 / 1;

          & > :first-child{
            height: 100%;
            display: block !important;
          }
        }

        .text {
          position: absolute;
          margin: 1rem 0 0 .5rem;
          top: 0;
          padding: 1.5rem;
          color: gray;
          overflow: hidden;

          h3{
            font-weight: 300;
          }

          span{
            font-weight: 900;
            color: s.$clrs-orange;
            display: block;
            line-height: 110%;
            @include s.font-size-title(2.3rem)
          }
        }
      }


      .col {
        width: 50%;
        padding: 2rem;
        display: flex;
        flex-flow: column;
        //justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;

        & > * {
          width: 100%;
        }

        .MuiInputBase-root {
          border-radius: 5000px;
        }

        .hor{
          display: flex;
          gap: 1rem;
          & > *{
            flex: 1;
          }
        }

        .tfield{
          margin-top: .3rem;
        }

        button.forgot{
          background-color: rgba(253, 127, 40, 0.04);
        }


        label.MuiInputLabel-formControl.MuiInputLabel-animated {
          font-size: .91rem;
        }

        .title{
          margin-bottom: .2rem;
        }

        .title + *{
          margin: 0;
        }

        .divider {
          display: grid;
          place-items: center;
          margin: 1rem 0;
          width: 105%;

          .line {
            width: 100%;
            height: 1px;
            background-color: lightgrey;
          }

          .or {
            position: absolute;
            padding: 0 .5rem;
            background-color: white;
            margin: 0;
          }
        }
      }
    }
  }
}
