@use '@/styles' as s;

.container {
  $round: 18px;

  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  background: s.$clrs-gray-light;

  //border: thin solid red;

  .wrapper {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    //border: thin solid rebeccapurple;

  }

  .menu {
    position: relative;
    border-radius: $round;
    background: white;
    padding: s.f-unit(.5rem);
    height: 45px;
    width: 45px;
    display: grid;
    place-items: center;
  }

  .logo {
    position: relative;
    display: grid;
    place-items: center;
    width: 150px;
    height: auto;

    * {
      width: 100% !important;
      //height: 100%;
    }

  }



  .others {
    $gap: 1rem;

    position: relative;
    display: flex;
    align-items: center;
    gap: s.f-unit($gap);
    width: max-content;
    //margin-left: auto;

    //border: thin solid crimson;

    & :global {
      .account {
        display: flex;

        & > * {
          @include s.padding(hor, 1rem);
        }

        & > :first-child {
          position: relative;
          border-right: 1px solid gray;
        }

      }

      .icons {
        display: flex;
        gap: s.f-unit($gap);

        .search-icon {
          position: relative;
          border-radius: $round;
          background: white;

          //border: thin solid teal;
          display: grid;
          place-items: center;
          padding: s.f-unit(.5rem);
          height: 45px;
          width: 45px;
        }

        .cart {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: s.f-unit(.8rem);
          background: white;
          border-radius: $round;

          min-width: 45px;
          height: auto;
          @include s.padding(hor, 1rem);

          .cart-icon {
            position: relative;
            flex: 1;
          }

          .cart-count {
            letter-spacing: -1px;
            //@include s.font-size-text(1rem)
          }
        }

        //display: none;

      }
    }
  }


}
