@use '@styles' as s;

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  //border: thin solid red;

  & :global{

    .value{
      margin: 0;
    }

    button{
      border: none;
      background: #fff7ec;
      box-sizing: border-box;
      width: 38px;
      height: 38px;
      border-radius: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .delete{
      width: 20px;
      height: 20px;
      padding: 0;
      border: none;
      //background-color: transparent;
    }
  }
}
